*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

section{
          width: 100%;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
}

.code{
          display: inline-block;
          font-size: 30px;
          font-family: monospace;
}